@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject IJsonHelper Json;
@model IEnumerable<Project>
@*@using smnetcoremvc.Models;*@

@{
    ViewData["Title"] = "Проекты";
}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Проекты</h2>
            @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Все</li>
                    @foreach (var cat in @ViewBag.Categories)
                    {
                        <li data-filter=".filter-@(cat.Slug)">@cat.Name</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
                @*var imgarray = Json.Serialize(@item.Images);*@

                <div class="col-lg-4 col-md-6 portfolio-item filter-@(item.Slug)">
                    <div class="portfolio-wrap">
                        <img src="~/img/projects-jpg/@(item.Images)1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.Name</h4>
                            <p>@item.Slug</p>
                        </div>
                        <div class="portfolio-links">
                            <a href="~/img/projects-jpg/@(item.Images)1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                            <a asp-area="" asp-controller="Projects" asp-action="Project" asp-route-id="@item.Id" title="Страница проекта"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End Portfolio Section -->